@font-face {
    display: swap;
    font-family: "Onest";
    src: url("/fonts/Onest.ttf") format("truetype");
}

html {
    overflow-x: hidden;
}

.bg-light {
    background-color: transparent !important;
}

.navbar-brand {
    font-size: 64px;
    margin-right: 0;
    font-weight: 700;
    margin-left: 25px;
    font-family: "Onest";
    color: rgb(0, 168, 255);
}

.navbar-brand:hover {
    color: rgb(0, 168, 255);
}

.navbar-toggler {
    margin-right: 25px;
}

.navbar-nav {
    gap: 30px;
    font-size: 24px;
    font-weight: 500;
    margin-right: 25px;
    font-family: "Onest";
    color: rgb(0, 31, 63);
}

.dropdown-center {
    position: relative;
    display: inline-block;
}

.dropdown-toggle {
    transition: none;
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    left: 50%;
    width: 100px;
    min-width: auto;
    text-align: center;
}

.dropdown-item {
    width: 64px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-item:hover {
    background-color: rgb(255, 255, 255);
}

.access {
    padding: 8px;
    font-size: 24px;
    font-weight: 500;
    border-radius: 8px;
    font-family: "Onest";
    color: rgb(255, 255, 255);
    background-color: rgb(0, 31, 63);
}

.access:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 31, 63);
}

.access:active {
    color: rgb(255, 255, 255) !important;
    background-color: rgb(0, 31, 63) !important;
}

@media (min-width: 990px) {
    .dropdown-menu {
        left: 75%;
        transform: translateX(-25%);
    }
}

@media (max-width: 990px) {
    .navbar-nav {
        margin-right: 0;
        text-align: center;
    }

    .nav-item img {
        margin: auto;
        display: block;
    }

    .nav-item button {
        margin: auto;
        display: block;
    }

    .dropdown-menu {
        left: 75%;
    }
}

.hero {
    display: flex;
    margin-top: 50px;
    text-align: center;
    margin-bottom: 200px;
    flex-direction: column;
    justify-content: center;
}

.hero-title {
    font-size: 64px;
    padding: 0 20px;
    max-width: 800px;
    font-weight: 800;
    margin-top: 60px;
    font-family: "Onest";
    color: rgb(0, 31, 63);
    margin: 0 auto 30px auto;
}

.hero-background {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 200px top;
    background-image: url('../images/lines.svg');
}

.hero-cta-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cta {
    width: 125px;
    padding: 8px;
    font-size: 24px;
    font-weight: 500;
    border-radius: 8px;
    font-family: "Onest";
    color: rgb(0, 31, 63);
    border: 3px solid rgb(0, 31, 63);
    background-color: rgb(255, 255, 255);
}

.cta:hover {
    color: rgb(0, 31, 63);
    border: 3px solid rgb(0, 31, 63);
    background-color: rgb(255, 255, 255);
}

@media (min-width: 1600px) {
    .hero-title {
        text-align: left;
        margin-top: 80px;
        margin-left: 20px;
        margin-right: auto;
    }

    .hero-cta-container {
        padding-left: 40px;
        justify-content: flex-start;
    }
}

@media (max-width: 1599px) {
    .hero {
        padding-top: 8px;
        margin-bottom: 100px;
    }

    .hero-background {
        background-image: none;
    }
}

.localization {
    height: auto;
    padding: 20px;
    min-height: 550px;
    overflow: visible;
    position: relative;
    background-color: rgb(0, 31, 63);
}

.localization-title {
    font-size: 48px;
    padding: 0 20px;
    font-weight: 700;
    font-family: "Onest";
    margin: 20px auto 10px;
    color: rgb(255, 255, 255);
}

.localization-subtitle {
    font-size: 24px;
    padding: 0 20px;
    font-weight: 700;
    font-family: "Onest";
    margin: 10px auto 20px;
    color: rgba(255, 255, 255, 0.5);
}

.localization-form {
    margin: 30px 20px 30px 20px;
}

.localization-form-text {
    width: 80%;
    height: 50px;
    border: none;
    padding: 5px 10px;
    font-size: 24px;
    font-weight: 600;
    font-family: "Onest";
    color: rgb(255, 255, 255);
    background-color: rgb(0, 31, 63);
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
    transition: all 0.3s ease;
    -webkit-text-fill-color: rgb(255, 255, 255);
    -webkit-background-clip: text;
    background-clip: text;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.localization-form-text:focus {
    outline: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.8);
}



.localization-form-text::placeholder {
    font-size: 24px;
    font-weight: 600;
    font-family: "Onest";
    color: rgba(255, 255, 255, 0.6);
}

.localization-form-submit {
    float: right;
    font-size: 24px;
    font-weight: 500;
    font-family: "Onest";
    color: rgb(255, 255, 255);
    background-color: rgb(255, 139, 35);
}

.localization-form-submit:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(255, 139, 35);
}

.localization-form-submit:active {
    border: none;
    color: rgb(255, 255, 255) !important;
    background-color: rgb(255, 139, 35) !important;
}

hr {
    margin: 20px auto;
    border: 2px solid rgb(255, 255, 255);
}

.localization-help {
    font-size: 24px;
    font-weight: 700;
    font-family: "Onest";
    color: rgba(255, 255, 255, 0.5);
}

.localization img {
    left: 50%;
    bottom: 0;
    top: 12.7%;
    width: 50%;
    height: 100%;
    position: absolute;
}

@media (max-width: 617px) {
    .localization-subtitle {
        font-size: 20px;
    }

    .localization-form-text {
        width: 90%;
        font-size: 24px;
    }

    .localization-form-submit {
        width: 100%;
        float: none;
        font-size: 20px;
        margin-top: 10px;
    }

    ::placeholder {
        font-size: 24px;
    }

    .localization-help {
        font-size: 20px;
    }
}

.features-title {
    width: 600px;
    font-size: 48px;
    font-weight: 700;
    margin-top: 60px;
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
    margin-bottom: 30px;
    font-family: "Onest";
}

.features-circles-container {
    gap: 200px;
    display: flex;
    margin-top: 60px;
    position: relative;
    align-items: center;
    margin-bottom: 120px;
    justify-content: center;
}

.features-circle {
    width: 125px;
    display: flex;
    height: 125px;
    border-radius: 50%;
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 139, 35);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.features-circle::after {
    top: 50%;
    left: 90%;
    content: '';
    height: 30px;
    position: absolute;
    width: calc(100% + 100px);
    transform: translateY(-50%);
    background-color: rgb(255, 139, 35);
}

.features-circle:nth-child(2)::after {
    background: linear-gradient(to right, rgb(255, 139, 35), rgb(123, 95, 241));
}

.features-circle:last-child {
    background-color: rgb(123, 95, 241);
}

.features-circle:last-child::after {
    display: none;
}

.features-circle img {
    width: 60px;
    height: auto;
}

.features-circle-text {
    top: 100%;
    width: 100%;
    font-size: 24px;
    margin-top: 20px;
    font-weight: 500;
    position: absolute;
    text-align: center;
    font-family: "Onest";
    color: rgb(0, 31, 63);
}

.features-card {
    height: 400px;
    margin-top: 30px;
    margin-left: 40px;
    border-radius: 8px;
    margin-bottom: 30px;
    background-color: rgb(227, 227, 255);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.features-card-dark {
    height: 400px;
    margin-top: 30px;
    margin-left: 40px;
    border-radius: 8px;
    margin-bottom: 30px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 31, 63);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.features-card-title {
    font-size: 28px;
    font-weight: 700;
    padding-top: 25px;
    text-align: center;
    font-family: "Onest";
}

.features-card-title-dark {
    font-size: 28px;
    font-weight: 700;
    padding-top: 25px;
    text-align: center;
    font-family: "Onest";
    color: rgb(255, 255, 255);
}

.features-card-message {
    width: 300px;
    font-size: 24px;
    margin-top: 75px;
    font-weight: 500;
    margin-left: 50px;
    font-family: "Onest";
}

.features-card img {
    float: right;
    margin-top: 75px;
    margin-right: 50px;
}

.features-card-dark img {
    float: right;
    margin-top: 75px;
    margin-right: 50px;
}

.auto-scroll {
    width: 90px;
    float: right;
    border: none;
    height: 90px;
    display: flex;
    margin-top: 30px;
    margin-right: 40px;
    border-radius: 50%;
    margin-bottom: 60px;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 139, 35);
}

@media (max-width: 768px) {
    .features-card {
        height: auto;
        padding: 20px;
        max-width: 95%;
    }
    
    .features-card-dark {
        height: auto;
        padding: 20px;
        max-width: 95%;
    }

    .features-card-title {
        font-size: 20px;
    }
    
    .features-card-title-dark {
        font-size: 20px;
    }

    .features-card-message {
        width: auto;
        margin-left: 0;
        font-size: 18px;
        margin-top: 15px;
        text-align: center;
    }

    .features-card-dark img {
        float: none;
        margin: auto;
        display: block;
        max-width: 90%;
        padding-bottom: 20px;
    }

    .features-card img {
        float: none;
        margin: auto;
        display: block;
        max-width: 90%;
        padding-bottom: 20px;
    }
}

.access-form {
    padding: 25px;
    margin-left: 15px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.access-form-title {
    float: left;
    font-size: 48px;
    font-weight: 700;
    font-family: "Onest";
    color: rgb(0, 31, 63);
}

.access-form-back {
    float: right;
    margin-top: 15px;
}

.access-form-email {
    width: 100%;
    height: 65px;
    padding: 15px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    font-family: "Onest";
    color: rgb(0, 31, 63);
    border: 2px solid rgb(0, 31, 63);
}

.access-form-email::placeholder {
    font-size: 20px;
    font-weight: 600;
    font-family: "Onest";
    color: rgba(0, 31, 63, 0.5);
}

.access-form-register-email {
    width: 100%;
    height: 65px;
    padding: 15px;
    font-size: 20px;
    margin-top: 25px;
    font-weight: 600;
    border-radius: 8px;
    font-family: "Onest";
    color: rgb(0, 31, 63);
    border: 2px solid rgb(0, 31, 63);
}

.access-form-register-email::placeholder {
    font-size: 20px;
    font-weight: 600;
    font-family: "Onest";
    color: rgba(0, 31, 63, 0.5);
}

.access-form-name {
    width: 100%;
    height: 65px;
    padding: 15px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    font-family: "Onest";
    color: rgb(0, 31, 63);
    border: 2px solid rgb(0, 31, 63);
}

.access-form-name::placeholder {
    font-size: 20px;
    font-weight: 600;
    font-family: "Onest";
    color: rgba(0, 31, 63, 0.5);
}

.access-form-address {
    width: 100%;
    height: 65px;
    padding: 15px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    font-family: "Onest";
    color: rgb(0, 31, 63);
    border: 2px solid rgb(0, 31, 63);
}

.access-form-address::placeholder {
    font-size: 20px;
    font-weight: 600;
    font-family: "Onest";
    color: rgba(0, 31, 63, 0.5);
}

.access-form-phone {
    width: 100%;
    height: 65px;
    padding: 15px;
    font-size: 20px;
    font-weight: 600;
    margin-top: 25px;
    border-radius: 8px;
    font-family: "Onest";
    color: rgb(0, 31, 63);
    border: 2px solid rgb(0, 31, 63);
}

.access-form-phone::placeholder {
    font-size: 20px;
    font-weight: 600;
    font-family: "Onest";
    color: rgba(0, 31, 63, 0.5);
}

.access-form-username {
    width: 100%;
    height: 65px;
    padding: 15px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    font-family: "Onest";
    color: rgb(0, 31, 63);
    border: 2px solid rgb(0, 31, 63);
}

.access-form-username::placeholder {
    font-size: 20px;
    font-weight: 600;
    font-family: "Onest";
    color: rgba(0, 31, 63, 0.5);
}

.access-form-select {
    width: 100%;
    height: 65px;
    padding: 15px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    font-family: "Onest";
    color: rgb(0, 31, 63);
    border: 2px solid rgb(0, 31, 63);
}

.access-form-password {
    width: 100%;
    height: 65px;
    padding: 15px;
    font-size: 20px;
    font-weight: 600;
    margin-top: 25px;
    border-radius: 8px;
    font-family: "Onest";
    color: rgb(0, 31, 63);
    border: 2px solid rgb(0, 31, 63);
}

.access-form-password::placeholder {
    font-size: 20px;
    font-weight: 600;
    font-family: "Onest";
    color: rgba(0, 31, 63, 0.5);
}

.access-form-eye {
    top: 50%;
    right: 25px;
    cursor: pointer;
    transform: translateY(-15%);
}

.access-form-remember-checkbox {
    width: 35px;
    height: 35px;
    display: flex;
    cursor: pointer;
    font-size: 24px;
    appearance: none;
    font-weight: 600;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(0, 31, 63);
}

.access-form-remember-checkbox:checked::before {
    content: "x";
}

.access-form-remember {
    font-size: 18px;
    margin-top: 25px;
    font-weight: 600;
    font-family: "Onest";
    color: rgb(0, 31, 63);
}

.access-form-remember span {
    margin-top: 5px;
    margin-left: 15px;
}

.access-form-customer-type-radio {
    width: 35px;
    height: 35px;
    display: flex;
    cursor: pointer;
    font-size: 24px;
    font-weight: 600;
    border-radius: 50%;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(0, 31, 63);
}

.access-form-customer-type {
    font-size: 18px;
    margin-top: 25px;
    font-weight: 600;
    font-family: "Onest";
    color: rgb(0, 31, 63);
}

.access-form-customer-type span {
    margin-top: 5px;
    margin-left: 15px;
    color: rgba(0, 31, 63, 0.5);
}

.access-form-recovery {
    float: right;
    font-size: 18px;
    text-align:right;
    margin-top: 25px;
    font-family: "Onest";
    color: rgba(0, 31, 63, 0.5);
}

.access-form-submit {
    width: 100%;
    height: 65px;
    font-size: 24px;
    margin-top: 25px;
    font-weight: 700;
    border-radius: 8px;
    font-family: "Onest";
    color: rgb(255, 255, 255);
    background-color: rgb(0, 31, 63);
}

.access-form-google {
    float: right;
    margin-top: 25px;
}

.access-form-signup {
    margin-top: 25px;
    text-align: center;
    font-family: "Onest";
    text-decoration: none;
    color: rgba(0, 0, 0, 0.35);
}

.form-step-container {
    padding-top: 25px;
}

.form-step-active {
    border: 3px solid rgba(123, 95, 241, 1);
}

.form-step {
    border: 3px solid rgba(0, 31, 63, 1);
}

.step-hidden {
    display: none;
}

@media (max-width: 1587px) {
    .access-form-title {
        font-size: 38px;
    }

    .form-step-container {
        padding-top: 45px;
    }

    .access-form-back {
        margin-top: 0;
    }
}

@media (max-width: 768px) {
    .access-form-title {
        font-size: 32px;
        text-align: left;
    }

    .access-form-back {
        width: 40px;
        height: 40px;
        margin-top: 0;
    }

    .form-step-container {
        padding-top: 45px;
    }

    .access-form {
        margin-left: 15px;
    }

    .access-form-email {
        font-size: 18px;
    }

    .access-form-password {
        font-size: 18px;
    }

    .access-form-submit {
        font-size: 18px;
    }

    .access-form-remember {
        font-size: 16px;
    }

    .access-form-recovery {
        font-size: 16px;
    }
}

@media (max-width: 576px) {
    .access-form-title {
        font-size: 28px;
    }
    
    .access-form-recovery {
        margin-top: 30px;
        margin-right: 10px;
    }
}

.errors-404-image {
    max-width: 90%;
    max-height: 300px;
}

.errors-404-title {
    font-size: 32px;
    font-weight: 700;
    margin-top: 50px;
    font-family: "Onest";
    color: rgb(0, 31, 63);
}

.errors-404-subtitle {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 50px;
    font-family: "Onest";
    color: rgb(0, 31, 63);
}

.errors-503-image {
    max-width: 90%;
    max-height: 300px;
    margin-top: 100px;
}

.errors-503-title {
    font-size: 32px;
    font-weight: 700;
    margin-top: 50px;
    font-family: "Onest";
    color: rgb(0, 31, 63);
}

.errors-503-subtitle {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 50px;
    font-family: "Onest";
    color: rgb(0, 31, 63);
}

.dheader {
    background-color: rgb(0, 31, 63);
}

.navbar-brand-dheader {
    font-size: 64px;
    margin-right: 0;
    font-weight: 700;
    margin-left: 25px;
    font-family: "Onest";
    color: rgb(255, 255, 255);
}

.navbar-brand-dheader:hover {
    color: rgb(255, 255, 255);
}

.nav-link-dheader {
    color: rgb(255, 255, 255);
}

.nav-link-dheader:hover {
    color: rgb(255, 255, 255);
}

.account {
    padding: 8px;
    font-size: 24px;
    font-weight: 500;
    border-radius: 8px;
    font-family: "Onest";
    color: rgb(0, 31, 63);
    background-color: rgb(255, 255, 255);
}

.account:hover {
    color: rgb(0, 31, 63);
    background-color: rgb(255, 255, 255);
}

.table {
    margin-top: 25px;
    border: 1px solid rgb(0, 31, 63);
}

.table th.header {
    font-size: 20px;
    font-weight: 700;
    font-family: "Onest";
    color: rgb(255, 255, 255);
    background-color: rgb(0, 31, 63);
}

.table td.body {
    font-size: 16px;
    font-family: "Onest";
    color: rgb(0, 31, 63);
}

.orderDetail-title {
    font-size: 28px;
    font-weight: 700;
    font-family: "Onest";
    color: rgb(0, 31, 63);
}

.orderDetail-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 8px;
    font-family: "Onest";
    color: rgb(0, 31, 63);
    border: 2px solid rgb(0, 31, 63);
}

.input-group-text {
    font-size: 16px;
    font-weight: 500;
    border-radius: 8px;
    font-family: "Onest";
    border-top: 2px solid rgb(0, 31, 63);
    border-right: 2px solid rgb(0, 31, 63);
    border-bottom: 2px solid rgb(0, 31, 63);
}

.orderDetail-btn {
    font-size: 18px;
    font-family: "Onest";
    color: rgb(255, 255, 255);
}

.pagination {
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
    font-family: "Onest";
}

.pagination .page-item {
    margin: 0 5px;
    color: rgb(0, 31, 63);
}

.pagination .page-link {
    display: flex; 
    font-size: 16px;
    padding: 8px 16px;
    border-radius: 8px;
    align-items: center; 
    text-decoration: none;
    justify-content: center; 
    color: rgb(0, 31, 63);
    border: 2px solid rgb(0, 31, 63);
}

.pagination .page-item.active .page-link {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 31, 63);
}

.pagination .page-item:first-child .page-link,
.pagination .page-item:last-child .page-link {
    border: none;
    display: flex;
    font-size: 36px;
    background: none;
    box-shadow: none;
    align-items: center;
    font-family: "Onest";
    justify-content: center;
    background-color: transparent;
}

.nav-pills .nav-link {
    font-family: "Onest";
    color: rgb(0, 31, 63);
}

.nav-pills .nav-link.active {
    color: white;           
    font-weight: 600;
    font-family: "Onest";
    background-color: rgb(0, 31, 63);
}

.btn-account-settings {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 31, 63);
}

.btn-account-settings:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 31, 63);
}

footer {
    bottom: 0;
    width: 100%;
    height: 100px;
    font-size: 16px;
    font-weight: 600;
    font-family: "Onest";
    color: rgb(255, 255, 255);
    background-color: rgb(0, 31, 63);
}

.copyright {
    text-align: left;
    margin-left: 40px;
    margin-top: 37.5px;
}

.social {
    gap: 30px;
    padding: 0;
    display: flex;
    list-style: none;
    margin-top: 30px;
}

.privacy {
    text-align: right;
    margin-left: auto;
    margin-top: 37.5px;
    margin-right: 40px;
}

@media (max-width: 1200px) {
    footer {
        height: 150px;
    }

    .copyright {
        margin-left: 0;
        margin-right: 0;
        margin-top: 30px;
        text-align: center;
    }

    .social {
        display: none;
    }

    .privacy {
        margin-top: 0;
        margin-right: 0;
        margin-top: 30px;
        text-align: center;
    }
}