@font-face {
    display: swap;
    font-family: "Onest";
    src: url("/fonts/Onest.ttf") format("truetype");
}

html {
    overflow-x: hidden;
}

.bg-light {
    background-color: transparent !important;
}

.navbar-brand {
    font-size: 64px;
    margin-right: 0;
    font-weight: 700;
    margin-left: 25px;
    font-family: "Onest";
    color: rgb(0, 168, 255);
}

.navbar-brand:hover {
    color: rgb(0, 168, 255);
}

.navbar-toggler {
    margin-right: 25px;
}

.navbar-nav {
    gap: 30px;
    font-size: 24px;
    font-weight: 500;
    margin-right: 25px;
    font-family: "Onest";
    color: rgb(0, 31, 63);
}

.dropdown-center {
    position: relative;
    display: inline-block;
}

.dropdown-toggle {
    transition: none;
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    left: 50%;
    width: 100px;
    min-width: auto;
    text-align: center;
}

.dropdown-item {
    width: 64px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-item:hover {
    background-color: rgb(255, 255, 255);
}

.access {
    padding: 8px;
    font-size: 24px;
    font-weight: 500;
    border-radius: 8px;
    font-family: "Onest";
    color: rgb(255, 255, 255);
    background-color: rgb(0, 31, 63);
}

.access:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 31, 63);
}

.access:active {
    color: rgb(255, 255, 255) !important;
    background-color: rgb(0, 31, 63) !important;
}

@media (min-width: 990px) {
    .dropdown-menu {
        left: 75%;
        transform: translateX(-25%);
    }
}

@media (max-width: 990px) {
    .navbar-nav {
        margin-right: 0;
        text-align: center;
    }

    .nav-item img {
        margin: auto;
        display: block;
    }

    .nav-item button {
        margin: auto;
        display: block;
    }

    .dropdown-menu {
        left: 75%;
    }
}

.hero {
    display: flex;
    margin-top: 50px;
    text-align: center;
    margin-bottom: 200px;
    flex-direction: column;
    justify-content: center;
}

.hero-title {
    font-size: 64px;
    padding: 0 20px;
    max-width: 800px;
    font-weight: 800;
    margin-top: 60px;
    font-family: "Onest";
    color: rgb(0, 31, 63);
    margin: 0 auto 30px auto;
}

.hero-background {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 200px top;
    background-image: url('../images/lines.svg');
}

.hero-cta-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cta {
    width: 125px;
    padding: 8px;
    font-size: 24px;
    font-weight: 500;
    border-radius: 8px;
    font-family: "Onest";
    color: rgb(0, 31, 63);
    border: 3px solid rgb(0, 31, 63);
    background-color: rgb(255, 255, 255);
}

.cta:hover {
    color: rgb(0, 31, 63);
    border: 3px solid rgb(0, 31, 63);
    background-color: rgb(255, 255, 255);
}

@media (min-width: 1600px) {
    .hero-title {
        text-align: left;
        margin-top: 80px;
        margin-left: 20px;
        margin-right: auto;
    }

    .hero-cta-container {
        padding-left: 40px;
        justify-content: flex-start;
    }
}

@media (max-width: 1599px) {
    .hero {
        padding-top: 8px;
        margin-bottom: 100px;
    }

    .hero-background {
        background-image: none;
    }
}

.localization {
    height: auto;
    padding: 20px;
    min-height: 550px;
    overflow: visible;
    position: relative;
    background-color: rgb(0, 31, 63);
}

.localization-title {
    font-size: 48px;
    padding: 0 20px;
    font-weight: 700;
    font-family: "Onest";
    margin: 20px auto 10px;
    color: rgb(255, 255, 255);
}

.localization-subtitle {
    font-size: 24px;
    padding: 0 20px;
    font-weight: 700;
    font-family: "Onest";
    margin: 10px auto 20px;
    color: rgba(255, 255, 255, 0.5);
}

.localization-form {
    margin: 230px 20px 30px 20px;
}

.localization-form-text {
    width: 80%;
    height: 40px;
    border: none;
    font-size: 32px;
    font-weight: 700;
    font-family: "Onest";
    color: rgb(255, 255, 255);
    background-color: rgb(0, 31, 63);
}

.localization-form-text:focus {
    outline: none;
}

.localization-form-text::placeholder {
    font-size: 32px;
    font-weight: 700;
    font-family: "Onest";
}

.localization-form-submit {
    float: right;
    font-size: 24px;
    font-weight: 500;
    font-family: "Onest";
    color: rgb(255, 255, 255);
    background-color: rgb(255, 139, 35);
}

.localization-form-submit:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(255, 139, 35);
}

.localization-form-submit:active {
    border: none;
    color: rgb(255, 255, 255) !important;
    background-color: rgb(255, 139, 35) !important;
}

hr {
    margin: 20px auto;
    border: 2px solid rgb(255, 255, 255);
}

.localization-help {
    font-size: 24px;
    font-weight: 700;
    font-family: "Onest";
    color: rgba(255, 255, 255, 0.5);
}

.localization img {
    left: 50%;
    bottom: 0;
    top: 12.7%;
    width: 50%;
    height: 100%;
    position: absolute;
}

@media (max-width: 617px) {
    .localization-subtitle {
        font-size: 20px;
    }

    input[type=text] {
        width: 90%;
        font-size: 24px;
    }

    input[type=submit] {
        width: 100%;
        float: none;
        font-size: 20px;
        margin-top: 10px;
    }

    ::placeholder {
        font-size: 24px;
    }

    .localization-help {
        font-size: 20px;
    }
}

.features-title {
    width: 600px;
    font-size: 48px;
    font-weight: 700;
    margin-top: 60px;
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
    margin-bottom: 30px;
    font-family: "Onest";
}

.features-circles-container {
    gap: 200px;
    display: flex;
    margin-top: 60px;
    position: relative;
    align-items: center;
    margin-bottom: 120px;
    justify-content: center;
}

.features-circle {
    width: 125px;
    display: flex;
    height: 125px;
    border-radius: 50%;
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 139, 35);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.features-circle::after {
    top: 50%;
    left: 90%;
    content: '';
    height: 30px;
    position: absolute;
    width: calc(100% + 100px);
    transform: translateY(-50%);
    background-color: rgb(255, 139, 35);
}

.features-circle:nth-child(2)::after {
    background: linear-gradient(to right, rgb(255, 139, 35), rgb(123, 95, 241));
}

.features-circle:last-child {
    background-color: rgb(123, 95, 241);
}

.features-circle:last-child::after {
    display: none;
}

.features-circle img {
    width: 60px;
    height: auto;
}

.features-circle-text {
    top: 100%;
    width: 100%;
    font-size: 24px;
    margin-top: 20px;
    font-weight: 500;
    position: absolute;
    text-align: center;
    font-family: "Onest";
    color: rgb(0, 31, 63);
}

.features-card {
    height: 400px;
    margin-top: 30px;
    margin-left: 40px;
    border-radius: 8px;
    margin-bottom: 30px;
    background-color: rgb(227, 227, 255);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.features-card-dark {
    height: 400px;
    margin-top: 30px;
    margin-left: 40px;
    border-radius: 8px;
    margin-bottom: 30px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 31, 63);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.features-card-title {
    font-size: 28px;
    font-weight: 700;
    padding-top: 25px;
    text-align: center;
    font-family: "Onest";
}

.features-card-title-dark {
    font-size: 28px;
    font-weight: 700;
    padding-top: 25px;
    text-align: center;
    font-family: "Onest";
    color: rgb(255, 255, 255);
}

.features-card-message {
    width: 300px;
    font-size: 24px;
    margin-top: 75px;
    font-weight: 500;
    margin-left: 50px;
    font-family: "Onest";
}

.features-card img {
    float: right;
    margin-top: 75px;
    margin-right: 50px;
}

.features-card-dark img {
    float: right;
    margin-top: 75px;
    margin-right: 50px;
}

.auto-scroll {
    width: 90px;
    float: right;
    border: none;
    height: 90px;
    display: flex;
    margin-top: 30px;
    margin-right: 40px;
    border-radius: 50%;
    margin-bottom: 60px;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 139, 35);
}

@media (max-width: 768px) {
    .features-card {
        height: auto;
        padding: 20px;
        max-width: 95%;
    }
    
    .features-card-dark {
        height: auto;
        padding: 20px;
        max-width: 95%;
    }

    .features-card-title {
        font-size: 20px;
    }
    
    .features-card-title-dark {
        font-size: 20px;
    }

    .features-card-message {
        width: auto;
        margin-left: 0;
        font-size: 18px;
        margin-top: 15px;
        text-align: center;
    }

    .features-card-dark img {
        float: none;
        margin: auto;
        display: block;
        max-width: 90%;
        padding-bottom: 20px;
    }

    .features-card img {
        float: none;
        margin: auto;
        display: block;
        max-width: 90%;
        padding-bottom: 20px;
    }
}

footer {
    bottom: 0;
    width: 100%;
    height: 100px;
    font-size: 16px;
    font-weight: 600;
    font-family: "Onest";
    color: rgb(255, 255, 255);
    background-color: rgb(0, 31, 63);
}

.copyright {
    text-align: left;
    margin-left: 40px;
    margin-top: 37.5px;
}

.social {
    gap: 30px;
    padding: 0;
    display: flex;
    list-style: none;
    margin-top: 30px;
}

.privacy {
    text-align: right;
    margin-left: auto;
    margin-top: 37.5px;
    margin-right: 40px;
}

@media (max-width: 1200px) {
    footer {
        height: 150px;
    }

    .copyright {
        margin-left: 0;
        margin-right: 0;
        margin-top: 30px;
        text-align: center;
    }

    .social {
        display: none;
    }

    .privacy {
        margin-top: 0;
        margin-right: 0;
        margin-top: 30px;
        text-align: center;
    }
}